
@media (max-width:967px) {
    .home {
        .container {
           .row{
            margin: 0 auto;
            .col-6{
                width: 100%;
                margin: 0 auto;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
           }
        }
    }
    .title-1{
         font-size: 3.0rem;
    }
    .title-2{
         font-size: 2.0rem;
             margin-bottom: 0;
    }
}
@media (max-width:768px) {
    
    .adicionais {
        margin-top: 4rem;

        .row {
            flex-wrap: wrap;
            width: 93%;
            margin: 0 auto;
        }
    }
}