@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
.home {
  background: url("../img/background-nuvens.png") no-repeat center center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline-primary {
  border-radius: 3rem;
  border: 0.1rem solid #2F7BF0;
  color: #2F7BF0;
  padding: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.btn-outline-primary:hover {
  border: 0.1rem solid #a5b3f7;
  background: #3b82f6;
  color: white;
}

.icon-home {
  transition: all 0.3s ease-in-out;
}
.icon-home:hover {
  color: #fff;
}

#about {
  background: url("../img/wallpapercaracol.png");
  background-size: cover;
}
#about h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(230deg, #FFD700, #FFFACD, #FFA500, #FFD700);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 3s infinite linear;
}
#about .col-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .col-img img {
  border: 0.5rem solid #fefefe;
  box-shadow: 0 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.262745098);
}

.btn-cv {
  border-radius: 3rem;
  border-bottom: 0.1rem solid blueviolet;
  border-right: 0.1rem solid blueviolet;
  color: black;
  padding: 0.9rem;
  box-shadow: 0.4rem 0.4rem 0.4rem #b5bbc9;
  transition: all 0.3s ease-in-out;
}
.btn-cv:hover {
  border-left: 0.1rem solid blueviolet;
  border-top: 0.1rem solid blueviolet;
  background: rgba(167, 166, 169, 0.286);
  color: #2F7BF0;
}

/*atendimento*/
.whatsapp {
  background-color: rgba(20, 20, 34, 0.955);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.whatsapp h2 {
  font-family: "Carattere", cursive;
}
.whatsapp .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 34);
  margin: 0 auto;
  height: 100%;
  width: 93%;
  padding: 3rem 0 3rem 0;
  border-radius: 3rem;
  border-left: 0.2rem solid #2F7BF0;
  border-right: 0.2rem solid blueviolet;
}
.whatsapp .box .row {
  margin-top: 2rem;
}
.whatsapp .box .img-whatsapp img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border-top: 0.2rem solid #2F7BF0;
  border-left: 0.2rem solid #2F7BF0;
  border-right: 0.2rem solid blueviolet;
  border-bottom: 0.2rem solid blueviolet;
}

.midias {
  background: url("../img/background-nuvens.png") no-repeat center center;
  padding: 5rem;
  padding-top: 6rem;
  margin-top: 3rem;
}

#skills .skill {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#skills .skill:hover {
  transform: scale(1.05);
}
#skills .education {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 0.2rem solid #2F7BF0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#skills .education:hover {
  transform: scale(1.05);
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  border-bottom: 0.2rem solid #2F7BF0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 16px;
}
.card .btn-outline-info {
  border-radius: 2rem;
  border: 0.1rem solid blueviolet;
  color: blueviolet;
  padding: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.card .btn-outline-info:hover {
  background: blueviolet;
  color: white;
}

#projetos {
  background-color: #16171D;
  margin-top: 3rem;
  margin: 0 auto;
}
#projetos .box-p {
  border-bottom: 0.1rem solid blueviolet;
  border-top: 0.1rem solid blueviolet;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}
#projetos .box-int {
  background-color: blueviolet;
  border-radius: 2rem;
  width: auto;
  height: 150px;
  overflow: hidden;
  background: url("../img/projeto-1-p.png");
}
#projetos .box-int img {
  width: 100%;
  height: 100%;
}

/*contato*/
#contato {
  padding-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16171D;
}
#contato i {
  color: #2F7BF0;
  font-size: 2rem;
  margin-right: 0.5rem;
}
#contato .form {
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  border-left: 0.1rem solid blueviolet;
  border-right: 0.1rem solid blueviolet;
  border-bottom: 0.1rem solid blueviolet;
}

.dropdown-toggle {
  background: transparent;
  border: none;
  border-bottom: 0.2rem solid #2F7BF0;
  color: #2F7BF0;
  margin-top: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}
.dropdown-toggle:hover {
  background: #b5bbc9;
  color: white;
}
.dropdown-toggle .dropdown-menu {
  background: white;
  border: 0.1rem solid #2F7BF0;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #2F7BF0;
  font-weight: 500;
  transition: 0.2s;
}
.dropdown-item:hover {
  background: #2F7BF0;
  color: white;
}

.btn-feedback {
  margin-top: 2rem;
}

footer {
  background: #a5b3f7;
  color: #2F7BF0;
  padding: 2rem 0;
  text-align: center;
}
footer #midias-s {
  height: 10rem;
  width: 10rem;
  color: gray;
}
footer p {
  margin: 0;
  font-size: 1.2rem;
}
footer a {
  color: blueviolet;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: #737373;
}

.cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.cabecalho .navbar-brand {
  font-family: "Carattere", cursive;
  font-size: 2rem;
  color: #2F7BF0;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.cabecalho .navbar-brand:hover {
  color: blueviolet;
}
.cabecalho .navbar-nav .nav-link {
  color: #2F7BF0;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.cabecalho .navbar-nav .nav-link:hover {
  color: #a5b3f7;
}
.cabecalho .navbar-toggler {
  border: none;
  color: blue;
}
.cabecalho .navbar-toggler:focus {
  box-shadow: none;
}

h1 {
  color: #fefefe;
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  color: #585e6c;
  font-weight: bold;
}

h3 {
  color: #585e6c;
  font-weight: bold;
}

p {
  color: #585e6c;
  font-weight: 500;
}

span {
  color: #3b82f6;
}

a {
  color: rgba(53, 147, 130, 0.8549019608);
  font-weight: bold;
  text-decoration: none;
}

hr {
  border: 0.1rem solid #2F7BF0;
}

.logo h1 {
  color: rgb(54, 9, 95);
  font-size: 2em;
  font-weight: 800;
}

.title-1 {
  padding-top: 2rem;
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, rgb(33, 0, 124) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.title-2 {
  font-size: 2.5rem;
  font-weight: 700;
  transform: translateY(-80px);
}

.destaq {
  color: #2F7BF0;
  font-size: 2em;
  font-weight: bold;
}

@font-face {
  font-family: "title";
  src: url("../fonts/Glamour.ttf") format("truetype");
  font-family: "title2";
  src: url("../fonts/NewtonHowardFont.ttf");
}
* {
  cursor: none !important;
}

html, body {
  background: #FEFEFE;
  overflow-x: hidden;
  padding-top: 20px;
  margin: 0;
  cursor: none;
}

.efeito, .caixa1, .caixa2, .caixa3, .esquerda, .direita, .bottom {
  visibility: hidden;
}

.adicionais {
  margin-top: 4rem;
  display: flex;
}
.adicionais .row {
  flex-wrap: wrap;
  width: 100%;
}

.cursor,
.trail {
  position: fixed;
  top: 0;
  width: 10px;
  height: 10px;
  border: 0.1rem solid #3b82f6;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
}

.cursor {
  width: 23px;
  height: 23px;
  top: 0;
  border: 0.1rem solid #3b82f6;
  background-color: #fff;
  background: url("../img/mouse.png") center center;
  background-size: cover;
  z-index: 9999;
}

.modal-content {
  background-color: #FEFEFE;
}
.modal-content .modal-header {
  background: linear-gradient(to top, #FEFEFE, #a5b3f7);
}
.modal-content .modal-footer {
  background: linear-gradient(to bottom, #FEFEFE, #a5b3f7);
}

/*# sourceMappingURL=style.css.map */
