@use 'var' as v;
h1{
    color: black;
    font-weight: bold;
}
h2{
    color: #585e6c;
    font-weight: bold;
}
h3{
    color: #585e6c;
    font-weight: bold;
}
p{
    color: black;
    font-weight: bold;
}
a{
    color: #359382da;
    font-weight: bold;
    text-decoration: none;
}
hr{
    border: 0.1rem solid v.$cor6;
}
.logo h1{
    background-image: linear-gradient(to top, v.$cor6, v.$cor5, v.$cor4, v.$cor3, v.$cor2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: bold;
}
.title-1{
    padding-top: 2rem;
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, black 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
.title-2{
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateY(-80px);
}
.destaq{
    background-image: linear-gradient(to top, blue, blueviolet, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: bold;
}