@use 'var' as v;
h1{
    color: #fefefe;
    font-weight: bold;
    font-size: 3rem;
}
h2{
    color: #585e6c;
    font-weight: bold;
}
h3{
    color: #585e6c;
    font-weight: bold;
}
p{
    color: #585e6c;
    font-weight: 500;
}
span{
    color: #3b82f6;
}
a{
    color: #359382da;
    font-weight: bold;
    text-decoration: none;
}
hr{
    border: 0.1rem solid v.$cor6;
}
.logo h1{
    color: rgb(54, 9, 95);
    font-size: 2em;
    font-weight: 800;
}
.title-1{
    padding-top: 2rem;
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, rgb(33, 0, 124) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}
.title-2{
    font-size: 2.5rem;
    font-weight: 700;
    transform: translateY(-80px);
}
.destaq{
    background-image: linear-gradient(to top, blue, blueviolet, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: bold;
}