@use 'var' as v;
footer {
    background: #a5b3f7ff;
    color: black;
    text-align: center;
    padding: 1rem;
    i{
        font-size: 1.7rem;
        color: #000;
        margin: 0.5rem;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: v.$cor8;
        }
    }
}
