@use 'var' as v;
.home {
    background: url('../img/wallpaper6666.png') no-repeat center center;
    height: 85vh;
    width: 100vw;
   

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-primary {
    border-radius: 3rem;
    border-bottom: 0.1rem solid v.$cor8;
        border-right: 0.1rem solid v.$cor8;
    color: white;
    padding: 0.9rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        border-left: 0.1rem solid v.$cor8;
        border-top: 0.1rem solid v.$cor8;
        background: rgba(137, 43, 226, 0.286);
        color: white;
    }

}
.icon-home{
    transition: all 0.3s ease-in-out;
    &:hover{
        color: blueviolet;
    }
}