@use 'var' as v;
.cabecalho{

    position: fixed;
    top: 0;
    width: 100%;

    z-index: 999;
        .navbar-brand{
            font-family: 'Carattere', cursive;
            font-size: 2rem;
            color: v.$cor6;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            &:hover {
                color: v.$cor8;
            }
        }
        .navbar-nav{
            .nav-link{
                color: v.$cor6;
                font-weight: 500;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: v.$cor8;
                }
            }
        }
    
    .navbar-toggler{
        border: none;
        color: blue;
        &:focus {
            box-shadow: none;
        }
    }
}
