@use 'var' as v;
header{

    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    right: 0;
    
    top: 0;
    z-index: 99;
    border-bottom: 0.2rem solid blur(10px);
    .navbar{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        .container-fluid{
            background: transparent;
        }
        .navbar-brand{
            font-family: 'Carattere', cursive;
            font-size: 2rem;
            color: v.$cor6;
            text-decoration: none;
            transition: 0.2s ease-in-out;
            &:hover {
                color: v.$cor8;
            }
        }
        .navbar-nav{
            .nav-link{
                color: v.$cor6;
                font-weight: 500;
                transition: color 0.2s ease-in-out;
                &:hover {
                    color: v.$cor8;
                }
            }
        }
    }
    .navbar-toggler{
        border: none;
        background: transparent;
        color: blue;
        &:focus {
            box-shadow: none;
        }
    }
}
