.card{
    background-color: #fff;
    border-radius: 8px;
    border: none;
    border-bottom: 0.2rem solid blue;
    box-shadow:  0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 16px;

}