@use 'var' as v;
@use 'home';
@use 'about';
@use 'atendimento';
@use 'midias';
@use 'skill';
@use 'service';
@use 'projetos';
@use 'contato';
@use 'menu';
@use 'caracters';
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

@font-face {
    font-family: 'title';
    src: url('../fonts/Glamour.ttf') format('truetype');
    font-family: 'title2';
    src: url('../fonts/NewtonHowardFont.ttf');
}
body {
    background: #FEFEFE;
    overflow: hidden;
}
main{
    background: url('../img/neon-background.svg');
    background-size: cover;
    background-position: 50%;
}
.efeito, .caixa1, .caixa2, .caixa3, .esquerda, .direita, .bottom{
    visibility: hidden;
}
.adicionais{
    margin-top: 4rem;
    display: flex;
    .row{
        flex-wrap: wrap;
        width: 100%;
    }
}