@charset "UTF-8";
@media (max-width:768px){
    .logo{
        display: none;
    }
    header{
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
h2.text-abertura{
    font-size: 4em;
}
h1.text-abertura{
    font-size: 5em;
}
.sobre{
    margin: 1.2rem auto;
    width: 75%;
}
.mobile-menu{
    display: none;
}
}
@media screen and (min-width:992px){
    h2.text-abertura{
        font-size: 4em;
    }
    h1.text-abertura{
        font-size: 5em;
    }
    .sobre{
        margin: 1.2rem auto;
        width: 75%;
}
.mobile-menu{
    display: none;
}
}