@charset "UTF-8";
/*importar as fontes*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');
/*seletores globais */
:root{
    --cor1: #585e6c;/*7231ff*/
    --cor2: rgb(105, 105, 173);
    --cor3: #b5bbc9;
    --cor4: #29292b;
    --font-principal:"Poppins", serif;
    --font-secundaria: "Lobster", serif;
    --cor-principal: #747bff; /*747bff*/
    --cor-destaque: blueviolet; 
    --cor-principal-alpha: #747bff2d;
    --cor-gradiente-01: #ffe7c2;
    --cor-gradiente-02: #bdacff;
    --cor011: #f9f9f9;
    --cor022: #b8c0c7;
    --cor033: #000000;
    --cor044: #3c4852;
    --cor05: #00000043;
    --cor6: #040416;
    /*box shadow*/
    --shadow: 0 0.3rem 0.4rem 0.1rem var(--cor05);
}
button{
    padding: .9rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--cor1);
    color: white;
    border-radius: 3rem;
    border: none;
    transition: .4s;
    /*teste*/
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: var(--cor-principal);
    color: white;
    cursor: pointer;
    background: linear-gradient(145deg, var(--cor1),var(--cor-gradiente-02));/*#ffa700 #ffd700*/
    border-color: var(--cor-gradiente-02);
  }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
    font-family: var(--font-principal);
}
body{
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .4s;
}
/*header*/
header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: var(--cor-principal-alpha);
    /*backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);*/
    width: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    flex-wrap: wrap;/*!!!!!!!!!!!!*/
}
.logo{
    font-size: 2rem;
}
.mobile-menu{
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
nav{
    display: flex;
    height: 8vh;
}
#itens ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#itens li {
    margin: 20px;
}
#itens a {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--cor1);
    font-weight: 700;
    transition: .4s;
}
#itens a:hover{
    color: var(--cor-destaque);
}
.tema{
    display: flex;
}
.tema i {
    padding: .5rem;
    font-size: 1.5rem;
}
.trilho{
    width: 80px;
    height: 45px;
    background-color: rgb(221, 184, 126);
    border-radius: 150px;
    position: relative;
}
.indicador{
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: papayawhip;
    border-radius: 50%;
    transform: scale(.9);
    cursor: pointer;
    left: 0;
    transition: .4s;
}
.trilho.dark{
    background-color: #4d4d4d;
}
.trilho.dark .indicador{
    left: 35px;
    background-color: black;
}
body.dark{
    background-color: var(--cor4);
}
.dark p{
    color: white;
}
.dark .movi i{
    color: white;
}
.dark .logo{
    color: white;
}
/*section*/
section#abertura{
    height: 90vh;
    width: 100vw;
    background: url('../img/bk-summ.jpg') center center;
    background-attachment: fixed;
    background-size: cover;
}
section#abertura > div.interface{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h1{
    font-family:var(--font-principal);
    font-size: 3em;
    color: white;
    background: -webkit-linear-gradient(left, var(--cor1), var(--cor-gradiente-02));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button.btn-abertura{
    padding: 1.5rem;
    font-size: 2em;
    border-radius: 10px;
    background: var(--cor1);
    color: white;
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
    transition: .4s;
}
button.btn-abertura:hover{
    background-color: var(--cor-principal);
}
.container-para-baixo{
    display: flex;
    position: relative;
    top: -17%;
    justify-content: center;
}
.container-para-baixo a{
    text-decoration: none;
}
.para-baixo i{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--cor1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: 2em;
    color: white;
    transition: .4s;
}
.para-baixo i:hover{
    background-color: var(--cor1);
    transform: translateY(10px);
}
/*article sobre mim*/
.text{
    width: 100%;
    justify-items: center;
}
.text hr{
    width: 30rem;
}
article#sobre-mim{
    height: 100%;
}
.sobre{
    display: flex;
    width: 100%;
}
.sobre h2{
    color: var(--cor-destaque);
}
.sobre span{
    color: var(--cor1);
}
.sobre hr {
    margin: 1rem 0;
    border: solid var(--cor-destaque);
    border-radius: 1rem;
    width: 15rem;
}
 p{
    padding: 2rem;
    text-align: justify;
    font-size: 1.3rem;
    color: var(--cor033);
}
.info-sobre-mim{
    flex: 1 1 150rem;
}
.foto{
    border-radius: 50%;
    border: 0.2rem solid var(--cor1);
    background-color: var(--cor1);
    overflow: hidden;
}
.foto-me{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-bottom: 1rem;
}
a.link-sobre-mim{
    text-decoration: none;
    color: var(--cor1);
    position: relative;
    transition: .4s;
}
a.link-sobre-mim:hover{
    text-decoration: underline;
}
/*olhar uma fonte*/

/*&:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--cor1);
}*/
/*section*/
section#projetos{
    height: 100%;
    width: 100%;

    /*background-image: linear-gradient(60deg, var(--cor-gradiente-01), var(--cor-gradiente-02));*/
}
.back{
    background: linear-gradient(60deg, var(--cor4), var(--cor3) 80%, var(--cor-destaque) );

}
h1{
    background: -webkit-linear-gradient(left, var(--cor1), var(--cor-gradiente-02));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
hr{
    width: 30rem;
    border: .2rem solid var(--cor1);

}
div.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem 1.2rem;
    padding: 5rem 0 5rem 0;
}
div#itens-container{
    background-color: var(--cor-principal-alpha);
    overflow: hidden;
    border-radius: 2rem;
    width: 400px;
    height: 100%;
    margin: 1em;
    box-shadow: var(--shadow);
    transition: .4s;
}
div#itens-container:hover{
    transform: translateY(-.5rem);
}
div#itens-container img{
    height: 100%;
    width: 100%;
}
div#itens-container span{
    color: var(--cor1);
    font-family: var(--font-principal);
    font-weight: 700;
    align-items: center;
}
div#itens-container > div{
    padding: 1rem 2rem;
}
div#itens-container p{
    margin-bottom: .5rem;
}
/*footer*/
footer{
    display: flex;
}
.centro{
    display: flex;
    top: 0;
}
.container-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: auto;
}
footer div{
    padding: .5rem;
    flex: 1 1 250px;
    flex-wrap: wrap;
}
footer div h1{
    font-family: var(--font-secundaria);
    color: var(--cor022);
}
footer div h2{
    font-weight: 700;
    color: var(--cor-destaque);
}
footer div p{
    font-weight: 300;
    color: var(--cor033);
    text-align: justify;
}
.icon{
    width: 100%;
}
footer i{
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    color: var(--cor1);
    transition: .4s;
}
footer i:hover{
    color: var(--cor-destaque);
}
.rodape{
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.rodape span{
    font-weight: 700;
    color: var(--cor-destaque);
}
.imagem{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}
.imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}