@charset "UTF-8";
/*seletores globais */
:root{
    --cor1: blueviolet;
    --cor2: rgb(105, 105, 173);
    --cor3: #00C2AD;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .2s;
}

/*section*/
section#abertura{
    height: 100vh;
    width: 100vw;
    background: url('../img/bkg-d.png') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section#abertura > div.interface{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h2.text-abertura{
    font-size: 3em;
    color: white;
}
h1.text-abertura{
    margin-top: -20px;
    font-size: 3em;
    color: white;

}
span.text-abertura{
    font-size: 1.4em;
    color: var(--cor1);
}
button.btn-abertura{
    border: none;
    padding: 20px;
    font-size: 2em;
    border-radius: 10px;
    background: transparent;
    color: white;
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
    border: 2px solid blueviolet;
    transition: .4s;
}
button.btn-abertura:hover{
    background-color: blueviolet;
}
.container-para-baixo{
    display: flex;
    position: relative;
    top: -17%;
    justify-content: center;
}
.container-para-baixo a{
    text-decoration: none;
}
.para-baixo i{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--cor1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-size: 2em;
    color: white;
    transition: .4s;
}
.para-baixo i:hover{
    background-color: var(--cor1);
    transform: translateY(10px);
}
/*header*/
header#cabecalho {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 2px solid rgb(10, 10, 31);
    border-radius: 15px;
    width: 100%;
    height: 100px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header#cabecalho > div.logo{
    height: 70px;
    width: 70px;
    background-color: #00C2AD;
    background: url('../img/favicom.jpg') center center;
    background-size: cover;
    border-radius: 50%;
    margin: 15px;
    transition: .5s;
}
header#cabecalho > div.logo:hover{
    transform: rotateY(50deg);
}
#itens ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#itens li {
    margin: 20px;
}
#itens a {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--cor1);
    font-weight: bolder;
    transition: .4s;
}
#itens a:hover{
    color: #00C2AD;
}
/*article sobre mim*/
article#sobre-mim{
    height: 100vh;
    width: 100%;
}
article#sobre-mim > div.interface{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
article#sobre-mim > div.interface > div.flex{
    background-color: white;
    border-radius: 10px;
    align-items: center;
    width: 992px;
    height: 100%;
}
div#img-flex {
    display: flex;
    justify-content: center;
}
div#img-flex > div.img-sobre-mim{
    width: 350px;
    height: 350px;
    background-color: rgb(10, 10, 31);
    background: url('../img/profile.jpg') center center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--cor1);
}
div.text-sobre-mim{
    padding: 15px;
}
/*olhar uma fonte*/
h1.sobre-mim{
    text-align: center;
    font-size: 2em;
    color: var(--cor1);
}
h2.sobre-mim{
    text-indent: 30px;
    font-size: 1.4em;
}
p.sobre-mim{
    text-indent: 30px;
    text-align: justify;
    font-size: 1.2em;
}
span.sobre-mim{
    color: var(--cor1);
}
a.link-sobre-mim{
    text-decoration: none;
    color: var(--cor1);
    position: relative;
    transition: .4s;
}
a.link-sobre-mim:hover{
    text-decoration: underline;
}
/*&:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: var(--cor1);
}*/
/*section*/
section#projetos{
    height: 100%;
    width: 100%;
}
.h1-projetos{
    color: var(--cor1);
    text-align: center;
    padding: 10px;
    font-size: 2em;
}
div.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div#itens-container{
    background-color: gray;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    margin: 20px;
}
/*footer*/
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
}
span.footer{
    color: var(--cor1);
    font-weight: bolder;
}
p.footer{
    font-size: 1.4em;
}
a{
    color: var(--cor1);
}
#footer-left{
    float: left;
    margin-right: 16px;
    border-right: 2px solid var(--cor1);
    padding-right: 10px;
}
#footer-right{
    float: right;
}
#footer-right i{
    font-size: 1.7em;
    padding: 10px;
    transition: .4s;
}
#footer-right i:hover{
    color: #00C2AD;
}